.order {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.order h3 {
  margin: 0 0 0.25rem 0;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.orderItemTable {
  margin-bottom: 15px;
}

.orderItemTable th,
td {
  width: 100px;
  background-color: #ad550214;
}

.orderItemTotal {
  margin-bottom: 15px;
}

.orderDetailBtn {
  color: #fff;
  padding: 5px;
  background-color: #ad5502;
  border-radius: 4px;
  width: fit-content;
}
