.orders {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  margin-top: -200px;
  animation: orders-appear 1s ease-out forwards;
}
.ordersLoading {
  text-align: center;
  color: #fff;
}

.ordersError {
  text-align: center;
  color: rgb(255, 0, 0);
}

.orders ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes orders-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sorting_button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  margin-left: 1rem;
  color: #fff;
  margin-bottom: 2rem;
}

.sorting_button:hover {
  background-color: rgba(90, 26, 1, 0.5);
  border: 1px solid #5a1a01;
  color: #fff;
}
