.orderDetails {
  margin-top: -200px;
}

.orderDetails h3 {
  margin: 0 0 0.25rem 0;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.orderDetailWrap {
  display: flex;
  flex-direction: column;
}
.orderDetailTable th,
td {
  width: 100px;
  background-color: #ad550214;
  text-align: start;
}
