.orders {
  margin-top: -200px;
}
.ordersLoading {
  text-align: center;
  color: #fff;
}

.ordersError {
  text-align: center;
  color: rgb(255, 0, 0);
}

.orders ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting_button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #3e241a;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  color: #fff;
  margin-bottom: 2rem;
}

.sorting_button:hover {
  background-color: rgba(90, 26, 1, 0.5);
  border: 1px solid #5a1a01;
  color: #fff;
}

.ordersLoading {
  text-align: center;
  color: #fff;
}

.ordersError {
  text-align: center;
  color: rgb(255, 0, 0);
}
