.profile {
  margin-top: -200px;
}

.form {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #383838;
  box-shadow: 0 1px 18px 10px rgb(0 0 0 / 25%);
  padding: 1rem;
  text-align: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}
.control input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.action {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.action button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  border-radius: 25px;
  padding: 0.5rem 2.5rem;
}

.action button:hover {
  background-color: #641e03;
  border-color: #641e03;
}

.statusMessageSuccess {
  color: #fff;
}

.statusMessageError {
  color: red;
}
