@import "../../asssets/styles/mixins.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.title {
  color: #fff;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -20px;
}

.flag {
  cursor: pointer;
  margin-left: 20px;
  font-size: 30px;
}

.page {
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  color: #fff;
}

.wrapper-burger {
  display: none;
}

.burger {
  display: none;
}

@include for-tablet-landscape-down {
  .wrapper {
    display: none;
  }

  .wrapper-burger {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    flex-direction: column;
    background-color: #8a2b06;
    position: fixed;
    top: 5rem;
    right: 0;
    border-radius: 0 0 10px 10px;
    width: 30%;
    margin: 0;
    padding: 0;
    margin-right: 10%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    list-style-type: none;
  }

  .wrapper-burger-active {
    visibility: visible;
    opacity: 1;
  }

  .burger {
    display: block;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0.25rem 2rem;
    border-radius: 25px;
    font-weight: bold;
    opacity: 0.9;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
  }

  .burger:hover {
    opacity: 1;
  }

  .burgerItem {
    border: 1px solid #9f543c;
    padding: 10px 2rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    text-align: end;
  }

  .burgerItem * {
    margin: 0;
  }

  .burgerItem:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #9f543c;
  }

  .burgerItem:last-child {
    border-radius: 0 0 10px 10px;
  }
}
